<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <% @posts.each do |post| %>
    <div class="col-xs-12 text-center">
      <div class="text-center">
        <h2><%= post.title %></h2>
        <h5> Posted by: <%= post.admin.username %></h5>
        <h5><%= post.created_at.strftime('%b %d, %Y') %></h5>
      </div>
      <div><i>
        <%= strip_tags(raw(post.body).truncate(400)) %>
      </i>
      </div>
      <div class="tags">
        <h5> <strong>Tagged:</strong> <%= raw tag_links(post.all_tags)%> </h5>
      </div>
      <div class="text-center">
        <%= link_to "READ MORE", post_path(post) %>
      </div>
      <% if admin_signed_in? %>
        <%= link_to "Edit", edit_post_path(post), class: "btn btn-default" %>
        <%= link_to "Delete", post_path(post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
      <% end %>
      <hr />
      <% if @posts.blank? %>
        <h4>There are no posts containing the term <%= params[:search] %>.</h4>
      <% end %>
    </div>
    <% end %>
  </div>
</div>